.topnav {
	overflow: hidden;
	text-align: center;
	max-width: fit-content;
	padding: 1rem;
	margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
	background: rgba(255, 255, 255, 0.27);
	border-radius: 2rem;
	box-shadow: 0 4px 40px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(9.8px);
	-webkit-backdrop-filter: blur(9.8px);
	border: 1px solid rgba(255, 255, 255, 0.48);
	scroll-behavior: smooth;
}

.topnav a {
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	border-radius: 1rem;

  transition: background-color 0.4s;
}

.topnav a:hover {
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
	border-radius: 1rem;
}

.topnav a.active {
	color: black;
	background: rgba(255, 255, 255, 0.7);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(9.8px);
	border-radius: 1rem;
	-webkit-backdrop-filter: blur(9.8px);
}

.headimage {
	float: left;
	padding-left: 25%;
	padding-right: 25%;
	margin-bottom: 2rem;
	width: 50%;
	height: 30%;
	filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.5));
}
