.skip_button {
    background-color: rgba(255, 255, 255, 0.4);
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.4s;
    border-radius: 100%;

    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;

    backdrop-filter: blur(9.8px);
    -webkit-backdrop-filter: blur(9.8px);
}

.button_right {
    right: 5%;
}

.button_left {
    left: 5%;
}

@keyframes fade {
    0% {
        background-color: rgba(255, 255, 255, 0.4);
    }
    100% {
        background-color: rgba(255, 255, 255, 0.7);
    }
}

.skip_button:hover {
    animation-name: fade;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.arrows {
    width: 40px;
    height: 40px;
    color: black;
    background-color: none;
    text-align: center;
}

#bw {
    transform: scaleX(-1);
}

.playback {
    align-items: center;
    text-align: center;
}

#youtube-video {
    width: 80%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;

    border-radius: 2rem;
}

h1#Songtitle {
    font-size: 70px;
}

.playlist_subtitles {
    width: 95%;
}

.playlistTable {
    border-spacing: 0;
    border-collapse: separate;
    width: 100%;
    padding: 0px;
}

td {
    text-align: left;
    color: white;
    font-size: 20px;
    margin: 0px;
    border-radius: 1rem;
}

.playlist_button {
    cursor: pointer;
    transition: background-color 0.4s;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.playlist_button:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.currentSong {
    color: rgba(55, 55, 55, 0.8);
    background-color: rgba(255, 255, 255, 0.7);
}

.subtitles {
    font-size: 20px;
}

.cover {
    margin-left: 15px;
    margin-right: 25px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

