.images {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
	justify-content: center;
	justify-items: center;
	align-content: center;
	align-items: center;
}

.image {
	margin-top: 5rem;
	border-radius: 1rem;
}

.image:hover {
	box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.5);
	transition: box-shadow 0.4s;
}
