@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

#information {
	font-family: 'Roboto';
  	border-collapse: collapse;
	float: left;
	width: 40%;
  	margin-left: 10%;
  	margin-top: 5%;


	background: rgba(255, 255, 255, 0.27);

	border-spacing: 0;
	border-collapse: separate;
	border-radius: 1rem;
	border: 1px solid rgba(255, 255, 255, 0.48);
}

table td {
  	text-align: left;
	width: 30%;
	left: 15%;
	padding: 2%;
}

