@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

h1 {
    width: 50%;
    margin: 10px auto;
    background: none;
    text-align: center;
	font-family: 'Roboto';
}

#information {
	width: 50%;
	float: left;
	margin-top: 5rem;
	margin-left: 5rem;
	font-family: 'Roboto';
	background-color: lightgray;
}
